@import './fonts.scss';
$font-color: #81868e;
$active-color: #19bd9a;
@mixin flexAlign ($hor: center, $vert:center, $pos:row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 100%;
}

h1 {
    margin: 0;
}

.banner {
    width: 100%;
    height: 46.06rem;
    background: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2.44rem;
    padding-bottom: 4.8rem;
    box-sizing: border-box;
    @include flexAlign($hor: space-between, $pos: column);
    .title {
        @include flexAlign($pos: column);
        &__big {
            margin: 0;
            text-transform: uppercase;
            font-size: 2.19rem;
            font-weight: 300;
            letter-spacing: 7px;
            margin-bottom: 2.88rem;
        }
        &__small {
            width: 38.13rem;
            text-align: center;
        }
    }
    &__button {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background: $active-color;
        @include flexAlign;
        cursor: pointer;
    }
}

.header {
    width: 100%;
    padding: 0 6.19rem;
    box-sizing: border-box;
    @include flexAlign(space-between);
    &__logo {
        text-transform: uppercase;
        font-size: 1.56rem;
        font-weight: 800;
    }
    &__links {
        &-item {
            text-decoration: none;
            color: white;
            padding: .63rem 1.25rem;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 1.2rem;
            transition: .4sec;
            &:hover {
                border: 1px solid white;
            }
        }
    }
}